<li id="followers-<%= user.id %>">
  <%= link_to gravatar_for(user, size: 50), user %></span>
  <span class="content"><%= followers.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(followers.created_at) %> ago.
  </span>
</li>